<%- include('header'); -%>
		<div class="box" id="heading">
					<h1> <%= listTitle %></h1>
					

		</div>

		<div class="box">
			<%	for (let i=0; i <=newListItems.length-1; i++) { %>
			<div class="item">
				<input type="checkbox">
				<p><%= newListItems[i] %></p>

			</div>
		<% } %>

		<form class="item" action = "/" method = "post">
			<input type="text" name="newItem" placeholder="New Item" autocomplete="off">
			<!-- submit button triggers the post request in the form to the /home route -->
			<button type="submit" name="list" value=<%= listTitle %>>+</button>
		</form>
		</div>


<!-- at newListItems we are going to render the value at index i -->

<%- include('footer'); -%>

